.articles{
    background: var(--very-light-gray);
    padding: 5rem 7rem;
}

.articles__title{
    color: var(--dark-blue);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.list__articles{
    display: flex;
    width: 100%;
}

.article{
    margin-right: 2rem;
    width: 25%;
}

.article__img{
    border-radius: 0.2rem 0.2rem 0 0;
    width: 100%;
}

.article__text{
    background: var(--white);
    border-radius: 0 0 0.2rem 0.2rem;
    padding: 1.5rem;
}

.article__author{
    color: var(--grayish-blue);
    font-size: 0.8rem;
    padding-top: 2rem;
}

.article__title{
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.article__title:hover{
    color: var(--lime-green);
}

.article__para{
    color: var(--grayish-blue);
    line-height: 1.2rem;
}

@media screen and (max-width: 768px) {
    .articles{
        padding: 5rem 0rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .articles__title{
        text-align: center;
    }
    
    .list__articles{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .article{
        margin-right: 0rem;
        margin-bottom: 2rem;
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .articles{
        padding: 5rem 0rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .articles__title{
        text-align: center;
    }
    
    .list__articles{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .article{
        margin-right: 0rem;
        margin-bottom: 2rem;
        width: 80%;
    }
}