.footer{
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.footer__left{
    display: flex;
}

.footer__socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__social{
    align-items: center;
    display: flex;
}

.footer__social__item{
    color: var(--white);
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.footer__social__item:hover{
    color: var(--lime-green);
}

.footer__menu{
    margin-left: 6rem;
}

.footer__menu__item{
    color: var(--light-grayish-blue);
    line-height: 2rem;
}

.footer__menu__item:hover{
    color: var(--lime-green);
}

.footer__right{
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__copy{
    color: var(--grayish-blue);
}

@media screen and (max-width: 768px) {

    .footer{
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0rem;
    }

    .footer__left{
        flex-direction: column;
    }

    .footer__socials{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .footer__social{
        margin-top: 2rem;
    }

    .footer__menu{
        margin-left: 0rem;
        text-align: center;
    }

    .footer__right{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .footer__copy{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 375px) {

    .footer{
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0rem;
    }

    .footer__left{
        flex-direction: column;
    }

    .footer__socials{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .footer__social{
        margin-top: 2rem;
    }

    .footer__menu{
        margin-left: 0rem;
        text-align: center;
    }

    .footer__right{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
    }

    .footer__copy{
        margin-top: 2rem;
    }
}