.header{
    align-items: center;
    background: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__logo{
    width: 10%;
}

.button__menu{
    color: var(--dark-blue);
    display: none;
    font-size: 1.5rem;
}

.nav{
    z-index: 2;
    transition: all 0.3s linear;
}

.menu{
    align-items: center;
    display: flex;
}

.menu__item{
    color: var(--grayish-blue);
    padding-left: 2rem;
}

.menu__item:hover{
    color: var(--dark-blue);
}

.button__green{
    background: linear-gradient(135deg, var(--lime-green), var(--bright-cyan));
    border-radius: 2rem;
    color: var(--white);
    cursor: pointer;
    padding: 1rem 2rem;
}

.button__green:hover{
    background: linear-gradient(135deg, var(--lime-green-light), var(--bright-cyan-light));
}

.back_menu{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .header__logo{
        width: 30%;
    }

    .header{
        height: 50px;
        padding: 1.6rem 0;
    }

    .nav{
        align-items: center;
        background: var(--white);
        border-radius: 0.3rem;
        justify-content: center;
        padding: 1rem 0;
        position: absolute;
        display: none;
        margin-top: 400px;
        width: 90%;
    }

    .menu{
        align-items: center;
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }

    
    .menu__item{
        color: var(--dark-blue);
        font-weight: 500;
        padding-left: 0rem;
    }

    .button__menu{
        display: flex;
    }
    

    .buton__nav{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .header__logo{
        width: 30%;
    }

    .header{
        height: 50px;
        padding: 1.6rem 0;
    }

    .nav{
        align-items: center;
        background: var(--white);
        border-radius: 0.3rem;
        justify-content: center;
        padding: 1rem 0;
        position: absolute;
        display: none;
        margin-top: 400px;
        width: 90%;
    }

    .menu{
        align-items: center;
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }

    
    .menu__item{
        color: var(--dark-blue);
        font-weight: 500;
        padding-left: 0rem;
    }

    .button__menu{
        display: flex;
    }

    .buton__nav{
        display: none;
    }
}