.intro{
    align-items: center;
    background-image: url('../../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 200% 300%;
    display: flex;
}

.intro__text{
    padding-left: 7rem;
    width: 50%;
}

.intro__title{
    color: var(--dark-blue);
    font-size: 3rem;
    width: 90%;
}

.intro__para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    padding: 2rem 0;
    width: 75%;
}

.intro__image{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .intro{
        background-image: url('../../images/bg-intro-mobile.svg');
        background-size: 100%;
        background-position: 0% 0%;
        flex-direction: column-reverse;
        padding-bottom: 5rem;
    }

    .intro__image{
        width: 100%;
    }

    .intro__text{
        padding-left: 0rem;
        width: 90%;
        text-align: center;
    }

    .intro__title{
        width: 100%;
    }
    
    .intro__para{
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .intro{
        background-image: url('../../images/bg-intro-mobile.svg');
        background-size: 100%;
        background-position: 0% 0%;
        flex-direction: column-reverse;
        padding-bottom: 5rem;
    }

    .intro__image{
        width: 100%;
    }

    .intro__text{
        padding-left: 0rem;
        width: 90%;
        text-align: center;
    }

    .intro__title{
        width: 100%;
    }
    
    .intro__para{
        width: 100%;
    }
}